img {
  width: 33em;
  height: 40em;
  object-fit: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif; /* Set default font */
  line-height: 1.6; /* Set default line height */
  background-color: #f4f4f4; /* Default background color */
}
.App {
  display: flex;
  background: #000;
  color: #fff;
  margin: auto 14em;
  margin-top: 10vh;
  box-shadow: 10px 10px 15px 5px rgb(0,0,0,0.2);
}
.footer-form {
  display: flex;
  gap: 1em;
  font-size: 1em;
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 5em;
  gap: 6em;
}
.grey {
  color: #555;
}
.sign-up {
  cursor: pointer;
}
.sign-up:hover {
  color: rgb(255,255,255,0.8);
}
.header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.header div {
  color: rgb(255,255,255, 0.5);
  font-size: 1em;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 0;
}
input {
  border: 1px solid #fff;
  padding: 1em;
  background: #000;
  border-radius: 5px;
  color: #fff;
}
label {
  color: rgb(255,255,255,0.5)
}
button {
  border: 1px solid #000;
  padding: 1em;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: rgb(255,255,255,0.8)
}
.add-menu {
  display: flex;
  justify-content: space-between;
}
.add-menu div {
  font-size: 0.8em;
}
.checkbox {
  margin-right: 0.5em;
  border: 
}
.remember {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  width: 13px; /* Adjust the size of the checkbox */
  height: 13px;/* Space around the checkbox */
}
.forgot-password {
  cursor: pointer;
}